{% extends "segmi/base.html" %}
{% load crispy_forms_tags %}
{% block body %}



<div class="content-section">
  <div class="container">

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">{{ user.username }}</h1>
        <div class="media">
          <div class="media-body">
            
           
            <div class="card-body col-9">
                <h2 class="card-title my-3">{{ user.username }}</h2>
                {% comment %} <h2 class="account-heading"></h2> {% endcomment %}
                <p class="text-secondary">{{ user.email }}</p>
                <p class="text-secondary">{{ category }}</p>
                <p class="text-secondary">{{ gender }}</p>
                <p class="text-secondary">{{ user_details }}</p>
                <p class="text-secondary">{{ degree}}</p>
                <p class="text-secondary">{{ disease }}</p>
                <p class="text-secondary">{{ labname }}</p>
                <p class="text-secondary">{{ labaddress}}</p>
                <p class="text-secondary">{{ license_number }}</p>
                
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <a href="{% url 'logout'%}" class="appointment-btn scrollto"><span class="d-none d-md-inline">Logout</span> </a>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock body %}