{% extends "segmi/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="content-section">
  <div class="container">
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
      <p class="text-secondary">{{ category }}</p>
      <p class="text-secondary">{{ gender }}</p>
      <p class="text-secondary">{{ user_details }}</p>
      <p class="text-secondary">{{ degree}}</p>
      <p class="text-secondary">{{ disease }}</p>
      <p class="text-secondary">{{ labname }}</p>
      <p class="text-secondary">{{ labaddress}}</p>
      <p class="text-secondary">{{ license_number }}</p>
    </div>
  </div>
</div>
</div>
{% endblock body %}