{% extends 'segmi/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
{% endblock head %}

{% block title %}
Home
{% endblock title %}

{% block body %}
  

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %})">
          <div class="container">
            <h2>Welcome to <span>Neurocare</span></h2>
            <p>Reports made simple <br> Get MRI reports at your fingertips! </p>
            <a href="#featured-services" class="btn-get-started scrollto">Read More</a>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-2.jpg' %})">
          <div class="container">
            <h2>Book appointment</h2>
            <p>Tired of waiting in long lines present at laboratories? <br> Book an appointment with a single click!</p>
            <a href="#appointment" class="btn-get-started scrollto">Lets book</a>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-3.jpg' %})">
          <div class="container">
            <h2>View Reports</h2>
            <p>Have to leave your current work to get reports? <br> We got you covered with digitized reports and useful insights! </p>
            <a href="" class="btn-get-started scrollto">Checkout</a>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Our Process</h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4 class="title"><a href="">Book an Appointment</a></h4>
              <p class="description">After consulting with the doctor, you can book an appointment at respective laboratories</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4 class="title"><a href="">Visit Labs</a></h4>
              <p class="description"> Visit your respective laboratory for doing an MRI scan and your work is done!</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fas fa-thermometer"></i></div>
              <h4 class="title"><a href="">Lab to Doctor</a></h4>
              <p class="description"> Once the reports are done, lab will forward those reports to your respective doctor</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4 class="title"><a href=""></a>Doctor to Patient</h4>
              <p class="description">Reports with insights and medical prescriptions will be forwarded to Patients</p>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>In an emergency? <br> Need help?</h3>
          <p></p> 
          {% if user.is_authenticated %}
          <a class="cta-btn scrollto" href="#appointment">Make an Make an Appointment</a>
          {% else %}
          <a class="cta-btn scrollto" href="{% url 'login'%}">Make an Make an Appointment</a>
          {% endif %}
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="fas fa-hospital-user"></i></div>
            <h4 class="title"><a href=""> Book an Appointment </a></h4>
            <p class="description"> To reduce the waiting time in long queues present at MRI labs, we help patients to make appointments at respective MRI Labs </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4 class="title"><a href="">Reports</a></h4>
            <p class="description">Patients are the one who visit the labs for reports and then visit the doctors which is eliminated by sharing the reports directly to doctors then from doctors to patients w</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="fas fa-dna"></i></div>
            <h4 class="title"><a href="">MRI Segmentation</a></h4>
            <p class="description">Given an image of an MRI, our MRI Segmenatation Algorithm will output segmented image of that MRI highlighting different areas of the MRI which are infected.</p>
          </div>
          
        </div>

      </div>
    </section><!-- End Services Section -->
    <hr>

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>An MRI scan is a common procedure around the world. Despite it being common the whole procedure can be quite a hassle. From a doctor prescribing to take an MRI to going for the scan at the labs, then collecting reports from the lab and going to the doctor to show the results. The later steps can be done virtually to reduce the time and hassle for everyone. Thus <b>Neurocare</b> enables MRI Labs to send patient reports directly to doctors, so that doctors can use image segmentation algorithms to show their patients what part is infected and what not thereby giving a detailed report to the patient.
          </p>
        </div>

        
    </section><!-- End About Us Section -->
    


    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>

              <p><strong>Doctors</strong>  </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="far fa-hospital"></i>
              <span data-purecounter-start="0" data-purecounter-end="26" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Departments</strong> </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Research Lab</strong> </p>

            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Awards</strong> </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
    <hr>
   

    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
      <div class="container">
        {% if user.is_authenticated %}
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <div class="section-title">
              <h2>Book appointment</h2>
            </div>
              <div class="container" style="width:70%">
                {{ form|crispy }}
                <br>
                <button class="btn btn-outline-info" type="submit">Submit</button>
              </div>
          </fieldset>
          <br>
      </form>
      {% else %}
      <fieldset class="form-group">
        <div class="section-title">
          <h2>Book appointment</h2>
        </div>
      <div class="container" style="width:25%">
      <a href="{% url 'login'%}" class="btn btn-outline-info"><span class="d-none d-md-inline">Please Login to book an appointment.</a>
      </div>
      </fieldset>
      {% endif %}
      </div>
     
    </section><!-- End Appointment Section -->

   

  

           

           

        

    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Doctors</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/doctors/4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr. Ganesh Chopra</h4>
                <span>MBBS, MD- Neurology</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/doctors/3.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr. Sangeeta Rawat </h4>
                <span>BAMS, MD</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/doctors/1.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr. Arjun Gupta</h4>
                <span>MBBS, MS- General Surgery</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/doctors/2.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dr. Rakesh Mehta</h4>
                <span>MBBS, MD-Neurology</span>
              </div>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Doctors Section -->

    

    <!-- ======= Frequently Asked Questioins Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questioins</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">How long with the MRI exam take? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                A typical exam will usually last between 10 and 30 minutes. More involved exams can take about an hour. If you have any questions regarding the length of the exam, please do not hesitate to ask the MR technologist.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Is there any radiation? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                MRI uses no radiation. The basic components of MRI are a strong magnetic field and a brief pulse of a radio frequency. There are no known side effects related to MRI. Since there is a strong magnetic field however, people with certain devices such as pacemakers, defibrillators, aneurysm clips and certain cochlear implants must NOT enter the MRI room.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">How long before my doctor gets the results? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                After the exam is completed, the images are sent to one of our radiologists, (doctors specializing in the evaluation of diagnostic images.) Once read, the radiologist will create a report that will be sent to your referring physician. The entire process usually takes 24-48 hours.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Can I bring someone into the room with me? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>         
                Yes, though every person must be screened and cleared to enter the room. All metal must be removed from the body including hairpins, watches, jewelry, keys, and coins. Also, you will be asked to secure your wallet as credit cards and other forms of ID with magnetic strips may be erased.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Can I listen to music during the exam? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                This depends on the type of exam you are having. The body part that is being examined must be placed in the center of the tube. For example, for a foot study, the patient's foot would be positioned in the center of the magnet leaving most of the upper body outside. For this type of exam you could listen to the radio or choose from a list of various CD's we have compiled. On the other hand, a head scan requires that the patient's head rest in a special coil positioned in the middle of the magnet leaving no room for headphones.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Will the MRI exam hurt? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>               
                The MRI exam itself should cause no pain however, because the patient is required to stay motionless for short periods of time, some discomfort may result. Occasionally patients may feel warmth in the area being scanned. If this becomes uncomfortable or extreme, the patient should inform the technologist immediately.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequently Asked Questioins Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-12">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>B205 Kjsce, Vidyvihar-east, Mumbai-400077</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@example.com<br>contact@example.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+91 9999999999<br>+91 69969969999</p>
                </div>
              </div>
            </div>

          </div>


      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 

   

  


{% endblock body %}


{% block script %}

$(function () {
  $('.datetime-input').datetimepicker({
      format:'YYYY-MM-DD'
  });
});




{% endblock script %}
