{% extends 'segmi/base.html' %}
{% load static %}
{% block body %}
<section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Ram Sharma</h2>
        <p>Doctor: Dr.Ram</p>
        <p>last updated: 01/01/2022</p>
        <p>Test: Brain MRI</p>
        <p>Lab: Neurocare labs LTD.</p>
        
      </div>

     
      </form>

      <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h2>Report</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
        </div>
  
        <div>
          <img style="display: block;margin-left: auto; margin-right: auto;" src="https://research.nvidia.com/sites/default/files/publications/1111.png" alt="">
        </div>
  
        <div class="container">
  
          <div class="row mt-5">
  
            <div class="col-lg-12">
  
              <div class="row">
                <div class="col-md-12">
                  <div class="info-box">
                   
                    <h3>Description</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora et velit quam laudantium deserunt doloribus expedita illo eos corporis accusantium aliquid ipsam rem, assumenda explicabo quo vel sit eius ratione repellat architecto hic asperiores error quidem? Autem laboriosam eveniet natus temporibus quas dicta culpa quod ullam omnis ab. Illo, soluta.</p>
                    <h3>Doctor's message</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora et velit quam laudantium deserunt doloribus expedita illo eos corporis accusantium aliquid ipsam rem, assumenda explicabo quo vel sit eius ratione repellat architecto hic asperiores error quidem? Autem laboriosam eveniet natus temporibus quas dicta culpa quod ullam omnis ab. Illo, soluta.</p>
                    <h3>Medicines</h3>
                    <p>T- abc-->1-0-1</p>
                    <p>T- xyc-->1-1-1</p>
                    <p>T- wqc-->0-1-0</p>
                    <p>T- yth-->0-0-1</p>
                    
                  
                  </div>
                </div>
                
            </div>
            


            <div class="container" data-aos="fade-up">

          
                <form action="forms/appointment.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                  
                 
                  <div class="text-center"><button type="submit">Download Report</button></div>
                </form>
            
            
        </div>
      </section><!-- End Contact Section -->
  

    </div>
  </section><!-- End Appointment Section -->
{% endblock body %}